<a href="https://colab.research.google.com/github/Vanessa-Kris/WTM-GDG-Bambili-100-Days-of-Code-Datascience/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
answer = 1 + 1
print(answer) \

2

In [11]:
var1 = 2+2
print (var1)
type(var1)
#variable is an integer

4

int

Created a variable called var1 and assigned the value of 2+2, then printed out the variable.

In [13]:
var2 =3+2/5
print (var2)
type(var2)
#variable is a float

3.4

float

created a variable called var2 and assigned the value of 3+2/5, then  out the variable.

In [19]:
var3 =4*16
print (var3)
type (var3)
#variable is an integer

64

int

created a variable called var3 and assigned the value of 4 multiplied by 16, then printed out the variable.

In [40]:
var4 =4**6
print (var4)
type (var4)
#variable is an integer

4096

int

created a variable called var4 and assigned the value of 4 raised to the power of 6, then printed out the variable.

In [28]:
var5 ='Hello' + ' ' + 'world'
print (var5)
type (var5)
#variable is str

Hello world

str

created a variable called var5 and assigned the value of 'Hello' + ' ' + 'world', then printed out the variable.

In [33]:
var6 ='Hello world'*5
print (var6)
type (var6)
#variable is str

Hello worldHello worldHello worldHello worldHello world

str

created a variable called var6 and assigned the value of 'Hello world multiplied by 5, then printed out the variable.

In [38]:
var7 =4%3
print (var7)
type (var7)
#variable is an integer

1

int

created a variable called var7 and assigned the value of 4 mod (modulo) 3, then printed out the variable.